{% extends "base.html" %} {% block title %} vTweet {% endblock %} {% block body
%}

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">vTweet</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="container" style="padding-top: 20px;">
    <h1 class="mt-2">Welcome to vTweet!</h1>
    <h4 class="text-right">- Location-based tweet analysis</h4>
  </div>
  <div class="container-fluid">
    <div id="mapid" class="col-md-12" style="height: 500px;"></div>
    <script>
      var mymap = L.map("mapid").setView([23, 72], 3);
      var mapboxAccessToken =
        "pk.eyJ1IjoieWFzaHJhamtha2thZCIsImEiOiJjazhwaDhqbzAwNGVpM2RwcXZ0MHY0ZTN4In0.2TI2W6DhAgAUmGRK_T3Hqg";
      L.tileLayer(
        "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}",
        {
          attribution:
            'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom: 18,
          id: "mapbox/streets-v11",
          tileSize: 512,
          zoomOffset: -1,
          accessToken: mapboxAccessToken,
        }
      ).addTo(mymap);
      var heat = L.heatLayer(
        [
          [50.5, 30.5, 1], // lat, lng, intensity
          [23, 72, 1],
          [25, 77, 1],
          [51.505, -0.09, 1],
        ],
        { radius: 25, maxZoom: 3 }
      ).addTo(mymap);
    </script>
  </div>

  <!-- <form method="POST">
      <div class="form-group">
        <label for="query">Trending topics</label>
        <input type="text" class="form-control" id="query" name="query" placeholder="Eg. covid19" />
      </div>
      <button type="submit" class="btn btn-primary" id="submitBtn">
        Submit
      </button>
      <input class="btn btn-primary" id="clearBox" type="reset" value="Reset" />
    </form>
    <br /> -->

  <!-- {% block map %}{% endblock %} -->
  <!-- <div id="map" style="width: 900px; height: 580px"></div>
    <script>
      // Creating map options
      var mapOptions = {
        center: [23.037392, 72.552182],
        zoom: 17
      };

      // Creating a map object
      var map = new L.map("map", mapOptions);

      var mapboxAccessToken =
        "sk.eyJ1IjoicHJheWFncyIsImEiOiJjazg0a201MWEwbDdhM21vZGgwMjlldmVtIn0.4DkYE0PvC2ueU9kYLZV7fw";

      // L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      //   attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      //   maxZoom: 18,
      //   id: 'mapbox/streets-v11',
      //   tileSize: 512,
      //   zoomOffset: -1,
      //   accessToken: mapboxAccessToken
      // }).addTo(map);

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      L.marker([23.037392, 72.552182])
        .bindPopup(
          '<a href="' +
            "https://ahduni.edu.in/seas/" +
            '" target="_blank">' +
            "SEAS, Ahmedabad University" +
            "</a>"
        )
        .addTo(map);
    </script> -->

  <!-- 16:9 aspect ratio -->
  <!-- <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="http://127.0.0.1:5000/dash_frontend"></iframe>
    </div> -->

  <!-- <hr class="mt-0 mb-4" />
    <div class="mt-10"></div>
    <div class="card">
      <div class="card-header">
        <h3>How to use?</h3>
      </div>
      <div class="card-body">
        <p>GG</p>
      </div>
    </div> -->
</body>

{% endblock %}
