{% extends "base.html" %} {% block title %} Insert tweet - vTweet {% endblock %}
{% block body %} 
<h1>Enter Tweet ID: </h1>
  <div class="container">
    {% if green_message %}
      <div class="alert alert-success" role="alert">
        {{green_message}}
        </div>
    {% endif %}
    {% if alert_message %}
        <div class="alert alert-warning" role="alert">
        {{alert_message}}
        </div>
    {% endif %}
    <h3>
    </h3>
    <form method="POST">
      <div class="form-group">
        <label for="tweet_id">Tweet ID</label>
        <input
          type="text"
          class="form-control"
          id="tweet_id"
          name="tweet_id"
          placeholder="Enter tweet ID"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    </div>
{% endblock %}
