{% extends "base.html" %} {% block title %} vTweet - logger {% endblock %} {% block body %}

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">vTweet</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="container" style="padding-top: 20px;">
    <h1 class="mt-2">Welcome to vTweet!</h1>
    <h4 class="text-right">- Location-based tweet analysis</h4>
  </div>
  <hr>

  <div class="container">
    <h3>
      Insertion log
    </h3>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Timestamp</th>
          <th scope="col">Info</th>
        </tr>
      </thead>
      <tbody>
        {% for res in logger_results %}
        <tr>
          <th scope="row">{{ res[0] }}</th>
          <td>{{ res[1] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

{% endblock %}
